---
import { Image, Picture } from '@astrojs/image/components';

export interface Props {
	title: string;
	body: string;
	location: string;
	image: ImageMetadata;
}

const { title, body, location, image } = Astro.props;
---

<a
	class="card card-side bg-base-100 transition-all shadow-lg bg-gradient-to-tl from-blue-300 to-rose-100 cursor-pointer hover:scale-110 hover:shadow-2xl outline-none"
	href={location}
>
	<div class="card-body">
		<div class="card-title">
			{ title }
		</div>
		{ body }
	</div>
	<figure>
		<Image
			src={image}
			class="shadow-2xl"
			alt="test"
			width="200" height="200"
			loading="eager"
		/>
		<!-- <figure><img src="https://placeimg.com/200/280/arch" alt="Movie"/></figure> -->
	</figure>
</a>
