---

---

<footer class="footer p-8 bg-gradient-to-tl from-red-300 to-purple-300 text-neutral-focus">
  <div>
    <span class="footer-title">Serivces</span>
    <a class="link link-hover" href="/mowing">Lawn Mowing</a>
    <a class="link link-hover" href="/hedging">Hedging</a>
    <a class="link link-hover" href="/pool-cleaning">Pool Cleaning</a>
  </div>
  <div>
    <span class="footer-title">Contact</span>
    <address>
      1414 Clifton Park <br/>
      518-555-5555
    </address>
  </div>
</footer>